
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-10">
          <h2>CREATE YOUR TASK</h2>
            <div class="card">
              <%= form_for(@tasks) do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name %><br><br>
                <%= f.label :content %>
                <%= f.text_field :content %><br><br>
                <%= f.submit %><br><br><br>
              <% end %>
              <%= link_to "Back to Menu", "/tasks/index", :class => "btn btn-info" %>
            </div>
        </div>
   </div>
</div>
